
<script src="/src/app/home/index.php"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h1><p style="text-align:center">FlipJob</h1>
                    <br>
                    <img src="">
                    <h2 style="text-align:center" >Vision</h2>
                    <p style="text-align:center">Create a better platform and give opportunity towards employment</p>
                    <h2 style="text-align:center" >Mission</h2>
                    <p style="text-align:center">Connects people around the world toward professionals and improve lives through better careers</p>
                    <h2 style="text-align:center" >What is FlipJob</h2>
                    <p style="text-align:center">FlipJob founded in 2020 by Ahmad Farith Hafiz Bin Selamat, Muhammad Irfan Bin Rosli and Ahamd Luqman Hakim Bin Ahmad Suhaimi.
                        It was founded for the project from assignment of Web Api Development. We struggle ourselves for the betterment of our skills 
                        and provides a platform for employer to recruit employee and employee get employed around Malaysia.</p>                    
            </div>
        </div>
    </div>